#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin-top: 5em;

  h2 {
    color: var(--bg-dark);
    font-size: 2em;
    text-shadow: 1px 1px 0 var(--detail-dark), -1px 1px 0 var(--detail-dark),
      1px -1px 0 var(--detail-dark), -1px -1px 0 var(--detail-dark);

    animation: neonDark 2s alternate infinite;
  }

  .grid-project-card {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 2em 0;
  }

  .project-card {
    align-items: center;
    background-color: var(--bgcard-dark);
    border-radius: 20px;
    box-shadow: 3px 3px 0px var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;

    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 3px 3px 3px var(--detail-dark);
      transform: scale(1.05);
    }

    img {
      border-radius: 20px 20px 0 0;
      height: 40%;
      object-fit: cover;
      object-position: top;
      top: 0;
      width: 100%;
    }

    h3 {
      color: var(--detail-dark);
    }

    p {
      color: var(--font-dark);
      letter-spacing: 0.05em;
      padding: 1em;
    }

    div {

      align-items: center;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1em;
      padding: 10px;
      width: 100%;
      
      .project-link {
        align-items: center;
        background-color: var(--bg-dark);
        border-radius: 50px;
        box-shadow: 2px 2px 0px var(--font-dark);
        color: var(--font-dark);
        display: flex;
        gap: 1em;
        padding: 0.5em 1em;

        transition: all 0.1s ease-in-out;

        &:active {
          border: 2px solid var(--detail-dark);
          box-shadow: 0px 0px 5px var(--detail-dark);
          transform: translateX(2px) translateY(2px);
        }
      }
      .img-link {
        filter: invert(1);
        width: 2em;
        height: 2em;
      }
    }
  }
}

@media (max-width: 475px) {
  .project-link {
    span {
      display: none;
    }
  }
}
