:root {
  --bg-dark: #2c2c2c;
  --bg-light: #e8e8e8;
  --detail-dark: #00ff6a;
  --detail-light: #ff5e00;
  --font-dark: #eaeaea;
  --font-light: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--bg-dark);

  transition: all 0.3s ease-in-out;
}

main {
  width: 100%;
  height: auto;
  padding: 1em;
}

.default-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-mode {
  background-color: var(--bg-light);

  header {
    background-color: var(--bg-light);
  }

  #navbar {
    ul {
      li {
        button {
          border: 2px solid var(--bg-light);
          box-shadow: 2px 2px 0px var(--font-light);

          img {
            filter: invert(0);
          }
        }

        a {
          color: var(--font-light);

          &:hover,
          &:focus {
            color: var(--detail-light);
            filter: drop-shadow(0px 0px 20px var(--detail-light));
          }
        }
      }
    }
  }

  #aboutMe {
    color: var(--font-light);

    h1 {
      color: var(--bg-light);
      -webkit-text-stroke: 1px var(--detail-light);

      animation: neonLight 2s alternate infinite;
    }

    a {
      background-color: var(--bg-light);
      color: var(--font-light);
    }

    p {
      font-weight: 500;
    }
  }

  #imgProfile {
    border: 1px solid var(--detail-light);

    animation: neonLight 2s alternate infinite;
  }

  #social {
    .social-link {
      box-shadow: 2px 2px 0px var(--font-light);

      &:active {
        border: 2px solid var(--detail-light);
        box-shadow: 0px 0px 5px var(--detail-light);
      }
    }

    img {
      filter: invert(0);
    }
  }

  #icons img:nth-child(5),
  #icons img:nth-child(11) {
    filter: invert(0);
  }

  footer {
    color: var(--font-light);

    a {
      color: var(--detail-light);

      &:hover {
        filter: drop-shadow(0px 0px 5px var(--detail-light));
      }
    }
  }
}
