header {
  background-color: var(--bg-dark);
  background-image: url(/assets/images/carbon-fibre.png);
  height: 10vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  transition: all 0.3s ease-in-out;

  #navbar {
    height: 10vh;
    width: 100%;

    ul {
      gap: 1.5em;
      height: 3rem;
      padding: 1em;
      width: auto;

      li {
        button {
          background-color: var(--bg-dark);
          border-radius: 10px;
          border: 2px solid var(--bg-dark);
          box-shadow: 2px 2px 0px var(--font-dark);
          height: 2.5em;
          width: 2.5em;

          transition: all 0.1s ease-in-out;

          &:active {
            box-shadow: 0px 0px 0px var(--font-dark);
            transform: translateX(2px) translateY(2px);
          }

          img {
            filter: invert(1);
            height: 2em;
            width: 2em;
          }
        }

        a {
          color: var(--font-dark);
          font-weight: bold;

          transition: all 0.3s ease-in-out;

          &:hover,
          &:focus {
            color: var(--detail-dark);
            filter: drop-shadow(0px 0px 10px var(--detail-dark));
          }

          &:active {
            transform: scale(0.6);
          }
        }
      }
    }
  }
}
