footer {
  align-items: center;
  color: var(--font-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  padding: 1em;
  width: 100%;

  span {
    font-weight: 600;
  }

  a {
    color: var(--detail-dark);
    font-weight: bold;

    transition: all 0.3s ease-in-out;

    &:hover {
      filter: drop-shadow(0px 0px 5px var(--detail-dark));
    }
  }
}
